@model IEnumerable<EntityModels.DocumentTemplate>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>

    <div class="panel-body">
        <div class="table-responsive" style="width: 80%; margin: 0 auto;">
            <table class="table table-bordered">
                @if (Model != null && Model.Count() != 0)
                {
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Name</td>
                                <td>@Html.ActionLink("Заполнить", "FillDocument", "Main", new { item.Id }, null)</td>
                            </tr>
                        </tbody>
                    }
                }
                else
                {
                    <tr>список пуст</tr>
                }
            </table>
        </div>
    </div>
</div>
