@model EntityModels.DocumentTemplate

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<p>@Model.Name</p>
    <hr />

    <div>
        @Html.Raw(Model.Text)
    </div>

    <hr />
    <p>Путь</p>
    <hr />
    <div>
        @Html.Raw(Model.PositionsPath)
    </div>

